{%- if article and article != empty -%}
  {% if article.metafields.custom.market_date %}
    <p>
      {% liquid
        assign marketDate = article.metafields.custom.market_date
        assign day = marketDate | date: '%-d'
        assign month_year = marketDate | date: '%B, %Y'

        case day
          when '1', '21', '31'
            assign daySuffix = 'st'
          when '2', '22'
            assign daySuffix = 'nd'
          when '3', '23'
            assign daySuffix = 'rd'
          else
            assign daySuffix = 'th'
        endcase

        echo '' | append: day | append: daySuffix | append: ' ' | append: month_year
      %}
    </p>
  {% else %}
    <p class='x-text-sm'>26th June, 2023</p>
  {% endif %}

  <div class='x-col-span-4 x-grid x-grid-cols-4 x-items-center'>
    <h3 class='x-col-span-2 !x-text-base'>
      {% comment %} {{ article.title | truncate: 50 | escape }} {% endcomment %}
      Castle Hill Farmer & Fine Food Market
    </h3>

    {% if article.metafields.custom.market_start_time and article.metafields.custom.market_end_time %}
      <p>{{ article.metafields.custom.market_start_time }} - {{ article.metafields.custom.market_end_time }}</p>
    {% else %}
      <p class='x-text-sm'>9:00am - 1:00pm</p>
    {% endif %}

    {% if article.metafields.custom.market_location %}
      <p>{{ article.metafields.custom.market_location }}</p>
    {% else %}
      <p class='x-text-sm'>Showground Rd, Castle Hill, NSW 2154</p>
    {% endif %}
  </div>
{%- endif -%}
