{%- if article and article != empty -%}
  {% if article.metafields.custom.market_date %}
    <p class='x-text-xs md:x-text-sm x-text-farmer-lime md:x-text-inherit x-mb-2 md:x-mb-0'>
      {% liquid
        assign marketDate = article.metafields.custom.market_date
        assign day = marketDate | date: '%-d'
        assign month_year = marketDate | date: '%B, %Y'

        case day
          when '1', '21', '31'
            assign daySuffix = 'st'
          when '2', '22'
            assign daySuffix = 'nd'
          when '3', '23'
            assign daySuffix = 'rd'
          else
            assign daySuffix = 'th'
        endcase

        echo '' | append: day | append: daySuffix | append: ' ' | append: month_year
      %}
    </p>
  {% endif %}

  <div class='x-col-span-2 x-grid lg:x-grid-cols-4 lg:x-col-span-4 x-items-center x-gap-[2px] md:x-gap-0'>
    <h3 class='lg:x-col-span-2 !x-text-base'>
      {{ article.title | truncate: 50 | escape }}
    </h3>

    {% if article.metafields.custom.market_start_time and article.metafields.custom.market_end_time %}
      <p class='x-text-sm'>
        {{ article.metafields.custom.market_start_time }} - {{ article.metafields.custom.market_end_time }}
      </p>
    {% endif %}

    {% if article.metafields.custom.market_location %}
      <p class='x-text-sm'>{{ article.metafields.custom.market_location }}</p>
    {% endif %}
  </div>
{%- endif -%}
