<h2 class='x-inline-flex x-items-center x-gap-4 x-flex-col md:x-flex-row x-font-semibold x-text-farmer-black md:x-text-4xl'>
  {% render 'icon-tfw-flower-lg' %}
  <span class='x-max-w-[300px] sm:x-max-w-none'>{{ section.settings.heading }}</span>
</h2>
