<div class='page-width x-text-center'>
  <ul class='categories-list__wrapper owl-carousel owl-theme x-mb-5 md:x-mb-10'>
    <li>
      <a
        class='x-bg-[#f3eee8] x-py-3 x-px-6 x-rounded-full'
        href='/collections/all'
        {% if request.path == '/collections/all' %}
          aria-current='page'
        {% endif %}
      >
        All
      </a>
    </li>
    {% for collection in collections %}
      <li>
        <a
          class='x-bg-[#f3eee8] x-py-3 x-px-6 x-rounded-full'
          href='{{ collection.url }}'
          {% if request.path == collection.url %}
            aria-current='page'
          {% endif %}
        >
          {{- collection.title -}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
