<div class='page-width x-text-center'>
  <ul class='categories-list__wrapper owl-carousel owl-theme x-mb-5 md:x-mb-10'>
    <li>
      <a
        class='x-bg-[#f3eee8] x-py-3 x-px-6 x-rounded-full'
        href='/blogs/recipes'
        {% if request.path == '/blogs/recipes' %}
          aria-current='page'
        {% endif %}
      >
        All
      </a>
    </li>
    {% for tag in blogs.recipes.tags %}
      {% assign tag_handle = tag | handle %}
      {% assign tag_url = '/blogs/recipes/tagged/' | append: tag_handle %}
      <li>
        <a
          class='x-bg-[#f3eee8] x-py-3 x-px-6 x-rounded-full'
          href='{{ tag_url }}'
          {% if request.path contains tag_url %}
            aria-current='page'
          {% endif %}
        >
          {{- tag -}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
