<div class='page-width x-text-center'>
  <ul class='categories-list__wrapper x-inline-flex x-justify-center x-items-center x-gap-10 x-mb-10 x-bg-[#f3eee8] x-py-8 x-px-[164px] x-rounded-full'>
    <li>
      <a
        href='/collections/all'
        {% if request.path == '/collections/all' %}
          aria-current='page'
        {% endif %}
      >
        All
      </a>
    </li>
    {% for collection in collections %}
      <li>
        <a
          href='{{ collection.url }}'
          {% if request.path == collection.url %}
            aria-current='page'
          {% endif %}
        >
          {{- collection.title -}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
