{% if template == 'index' %}
  <p>Next Market Stall</p>
{% endif %}

{% schema %}
{
  "name": "Market Stall",
  "settings": [
    {
      "id": "show_markets",
      "type": "checkbox",
      "label": "Show Markets"
    }
  ]
}
{% endschema %}
