{% comment %} {{ 'component-article-card.css' | asset_url | stylesheet_tag }} {% endcomment %}

<section class='content-chunk__home-hero-banner x-flex x-items-center x-relative x-py-16'>
  <div class='page-width x-w-full'>
    <div class='x-grid x-grid-cols-12 x-items-center'>
      <div class='x-col-span-4'>
        <div class='x-grid x-gap-10 x-justify-items-start'>
          <p>{{ section.settings.heading }}</p>
          <h1 class='x-max-w-[400px] x-text-[17px]'></h1>
          <a href='#'>Explore range</a>
        </div>
      </div>
      <div class='x-col-span-8'>
        <img class='md:x-ml-auto' src='' alt=''>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "TFW Home Hero",
  "tag": "section",
  "class": "home_hero",
  "settings": [
    {
      "type": "header",
      "content": "Content Left"
    },
    {
      "type": "textarea",
      "id": "heading",
      "default": "Hero Heading",
      "label": "Heading"
    }
  ]
}
{% endschema %}
