{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

<div class='main-blog page-width !x-py-10 lg:!x-py-20'>
  <div class='x-grid x-items-center x-justify-items-center'>
    {% render 'icon-tfw-flower-lg' %}
    <h1 class='title--primary !x-mt-4 !x-mb-10 lg:!x-mb-16'>{{ blog.title | escape }}</h1>
  </div>
  <div>
    {%- paginate blog.articles by 6 -%}
      <div class='blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}'>
        {%- for article in blog.articles -%}
          <div class='blog-articles__article article'>
            {%- render 'tfw-recipe-card', article: article -%}
          </div>
        {%- endfor -%}
      </div>

      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    {%- endpaginate -%}
  </div>
</div>

{% schema %}
{
  "name": "Recipes",
  "tag": "section",
  "class": "recipes",
  "settings": []
}
{% endschema %}
