<section>
  {% assign blogHandle = 'market-stall' %}

  {% for article in blogs[blogHandle].articles limit: 1 %}
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>

    {% liquid
      if article.metafields.custom.market_date
        assign marketDate = article.metafields.custom.market_date
        assign day = marketDate | date: '%-d'
        assign month_year = marketDate | date: '%B, %Y'

        case day
          when '1', '21', '31'
            assign daySuffix = 'st'
          when '2', '22'
            assign daySuffix = 'nd'
          when '3', '23'
            assign daySuffix = 'rd'
          else
            assign daySuffix = 'th'
        endcase

        echo 'Market Date: ' | append: day | append: daySuffix | append: ' ' | append: month_year
      endif
    %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "Market Stall",
  "presets": [
    {
      "name": "Market Stall",
      "category": "TFW",
      "settings": {}
    }
  ]
}
{% endschema %}
