/* Footer - Flower section */
.flower-icon__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    line-height: 1;
}

.footer-flower__wrapper::before {
    content: "";
    width: calc(50% - 16px);
    left: 0px;
    display: inline-flex;
    height: 1px;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgba(131, 182, 87, var(--tw-bg-opacity));
}

.footer-flower__wrapper::after {
    content: "";
    width: calc(50% - 16px);
    left: 0px;
    display: inline-flex;
    height: 1px;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgba(131, 182, 87, var(--tw-bg-opacity));
}

.footer__copyright a:hover {
    text-decoration: none;
    color:#83B657;
}
