.product__accordion .accordion__content {
    font-size:14px;
    padding-right:40px;
}
  
.product__info-wrapper > product-info {
    display: block;
    padding: 48px;
}

.product__media,
.product-media-container.constrain-height {
    border-radius:24px;
}

.product-form__input .form__label {
    letter-spacing: 0;
    font-size: 12px;
}
  
.product-icons__wrapper h4 {
    font-weight:400;
    font-size: 12px;
}

.product-icons__wrapper svg {
    max-height: 45px;
}

.shopify-payment-button__button {
    background:#407538;
    letter-spacing: 0;
    font-weight: 600;
    border-radius: 9999px !important;
}

.shopify-payment-button__button::before,
.shopify-payment-button__button::after,
.product-form__submit.button--secondary::before,
.product-form__submit.button--secondary::after {
    box-shadow: none !important;
}

.product-form__submit.button--secondary {
    letter-spacing: 0;
    font-weight: 600;
    border-radius: 9999px !important;
    border:1px solid #231F20;
    transition: 150ms ease;
}

.product-form__submit.button--secondary:hover,
.product-form__submit.button--secondary:focus {
    background:#83B657;
    border-color: #83B657;
    color: #fff;
}

.thumbnail-list > li > button.thumbnail {
    border-radius: 12px;
}

.product__info-wrapper .price__container .price-item {
    font-size: 20px;
    margin-top: 24px !important;
    font-weight: 600;
}

.quantity:after {
    border-radius: 9999px;
}

.accordion summary {
    padding:20px 0;
}

.accordion__content p:not(:last-child) {
    margin-bottom: 20px;
}

.accordion__content p a {
    text-decoration: underline;
}

.accordion__content p a:hover,
.accordion__content p a:focus {
    color:#83B657;
    text-decoration-thickness:initial;
}

.nutritional-info tr td {
    padding-top:2px;
    padding-bottom: 2px;
}

.spr-starrating {
    align-items: center;
    gap: 8px;
}

.spr-starrating .spr-stars > span {
    display: flex;
    gap:4px;
}

.product-form__quantity .form__label {
    display:none;
}

#shopify-section-template--19513176621359__judgeme_section_review_widget_7fc6 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 244 239 / var(--tw-bg-opacity));
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 64px;
}