.article-template__content a {
    text-decoration:underline;
}

.article-template__content a:hover,
.article-template__content a:focus {
    color:#83B657;
    text-decoration-thickness:inherit;
}

.recipe__ingredients ul {
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap:16px;
}

.recipe__ingredients a {
    text-decoration:underline;
}

.recipe__ingredients a:hover,
.recipe__ingredients a:focus {
    color:#83B657;
}

.recipe__method h3 {
    color:#407538;
    margin-bottom:8px;
}

.recipe__method p:not(:last-child) {
    margin-bottom: 32px;
}

/* Card proudct Simple */
.card-product__simple {
    transform: translate3d(0, 0, 0);
    transition: transform 300ms;
}
.card-product__simple::before {
    content: "";
    transition: box-shadow 300ms;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 1.5rem;
    --tw-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.card-product__simple:hover {
    transform: translate3d(0, -8px, 0);
}

.card-product__simple:hover::before {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}